<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form action="/login" method="POST">
            <input type="text" name="user" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <% if (typeof error !== 'undefined') { %>
              <p style="color: red;"><%= error %></p>
            <% } %>
            <button type="submit">Entrar</button>
        </form>
        <button onclick="window.location.href='/register'">Registrarse</button>
    </div>
</body>
</html>
